<ul>
  <% if @error_message.any? %>
    <% @error_message.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  <% else %>
    <li><%=@student["first_name"]%></li>
    <li><%=@student["last_name"]%></li>
    <li><%=@student["cap_name"]%></li>
    <li><%=@student["cap_desc"]%></li>
    <li><%=@student["cap_url"]%></li>
    <li>
      <%=image_tag @student["cap_ss"]%>
    </li>
  <% end %>
</ul>