<table>
    <% if @error_message.any? %>
      <% @error_message.each do |message| %>
        <tr><td> <%= message %> </td></tr>
      <% end %>
    <% else %>
      <tr>
        <td>First Name</td>
        <td><%=@catalog.first_name%></td>
      </tr>
      <tr>
      <td>Last Name</td>
      <td><%=@catalog.last_name%></td>
      </tr>
      <tr>
        <td>Capstone</td>
        <td><%=@catalog.capstone_name%></td>
      </tr>
      <tr>
        <td>Capstone Description</td>
        <td><%=@catalog.capstone_desc%></td>
      </tr>
      <tr>
      <td>Capstone URL</td>
      <td><%=link_to( @catalog.capstone_url, @catalog.capstone_url) %></td>
      </tr>
      <tr>
        <td>Capstone Screenshot</td>
        <td><%=image_tag @catalog.capstone_screen%></td>
      </tr>
    <% end %>
</table>