<ul>
  <% if @error_message.any? %>
    <% @error_message.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  <% else %>
    <li><%=@catalog.first_name%></li>
    <li><%=@catalog.last_name%></li>
    <li><%=@catalog.capstone_name%></li>
    <li><%=@catalog.capstone_desc%></li>
    <li><%=link_to( @catalog.capstone_url, @catalog.capstone_url) %></li>
    <li>
      <%=image_tag @catalog.capstone_screen%>
    </li>
  <% end %>
</ul>