<ul>
  <% if @error_message.any? %>
    <% @error_message.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  <% else %>
    <li><%=@student["first_name"]%></li>
    <li><%=@student["last_name"]%></li>
    <li><%=@student["capstone"]["name"]%></li>
    <li><%=@student["capstone"]["description"]%></li>
    <li><%=link_to( @student["capstone"]["url"], @student["capstone"]["url"]) %></li>
    <li>
      <%=image_tag @student["capstone"]["screen_shot"]%>
    </li>
  <% end %>
</ul>